body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    margin-top: 3px;
    padding: 15px;
    color: white;
    background-color: #5f9341;
    border: #5f9341 solid 1px;
    border-radius: 3px;
}

#delete-btn {
    margin-top: 3px;
    padding: 15px;
    color: #5f9341;
    background-color: white;
    border: #5f9341 solid 1px;
    border-radius: 3px;
}


/* html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
} */
